
        table {
            border: 2px solid black;
            border-collapse: collapse;
            margin: 40px auto;
        }
        td {
            width: 90px;
            height: 120px;
            text-align: center;
            vertical-align: middle;
            font-size: 40px;
            font-family: "Segoe UI Symbol";
        }
        .white {
            background-color: #f0d493;
        }
        .black {
            background-color: #000000;
        }

    