*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #2c3133;
    --secondary-color:#1b1f2b;
    --text-color:#e0e0e0;

}

body{
    background-color: var(--primary-color);
    display: flex;
    height: 100vh;
    justify-content: center;
     align-items: center;
     color: #ffffff;
}

.contact { width: 500px;
          height: 550px;
          background-color: var(--secondary-color);
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 20px;

}

h2{
    color: var(--text-color);
    font-size: 35px;
    margin-bottom: 25px;

}

.input-box{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
}

input{
    width: 100%;
    background-color: var(--primary-color);
    outline: none;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 18px;

}

textarea{
     width: 100%;
    background-color: var(--primary-color);
    outline: none;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 18px;
    resize: none; 

}

button{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: rgb(11, 53, 151);
    outline: none;
     border-radius: 5px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 18px;
    resize: none;
    cursor: pointer;

}


button:hover{
    background-color: rgb(28, 3, 105); 
}