@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    background-color: white;
    padding: 10px;
    /* position: fixed; */
    top: 0px;
}

nav>ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    font-size: 12px;
}

#apple_logo {
    height: 16px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav svg {
    height: 20px;
}

section {
    width: 100%;
    height: 580px;
    margin-bottom: 10px;
}

#hero_iphone_family {
    background-image: url("Media/hero_iphone_family.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1080px;
    background-color: #f5f5f7;
    height: 620px;
}

#hero_iphone_family>.logos_cta {
    padding-top: 80px;
}

.logos_cta {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.logos_cta>h2 {
    font-size: 56px;
}

.logos_cta>img {
    width: fit-content;
    height: 48px;
}

.logos_cta>p {
    font-size: 28px;
}

.large_ctas {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.large_ctas>.secondary_btn {
    font-size: 17px;
    background-color: #0071e3;
    border: 1px solid #0071e3;
    border-radius: 50px;
    padding: 12px 20px;
    color: white;
}

.large_ctas>.primary_btn {
    font-size: 17px;
    background-color: transparent;
    border: 1px solid #0071e3;
    border-radius: 50px;
    padding: 12px 20px;
    color: #0071e3;
}

#hero_watch_family {
    background-image: url("Media/hero_apple_watch_family.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #f5f5f7;
}

#hero_iPad_family {
    background-image: url("Media/hero_iPad_air_family.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #f5f5f7;
    background-size: cover;
}

#small_product_family {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 10px;
}

.small_product_card {
    width: 49%;
    height: 580px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.macBook_card {
    background-image: url("Media/small_macbook_pro_m5.png");
}

.watch_card {
    background-image: url("Media/small_apple_watch_ultra3.jpg");
}

.airPod_card {
    background-image: url("Media/small_airpodspro_3.jpg");
}

.fitness_card {
    background-image: url("Media/small_apple_fitness_plus.jpg");
}

.tradein_card {
    background-image: url("Media/small_iphone_tradein.jpg");
}

.apple_card {
    background-image: url("Media/small_apple_card.jpg");
}

.small_logos_cta {
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.small_logos_cta>img {
    height: 32px;
    width: fit-content;
}

.small_logos_cta>h2 {
    font-size: 38px;
}

.small_logos_cta>p {
    font-size: 21px;
    margin: 8px;
}

.small_ctas {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 8px;
}

.small_ctas>.primary_btn {
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #0071e3;
    border-radius: 50px;
    padding: 10px 15px;
    color: #0071e3;
}

.small_ctas>.secondary_btn {
    font-size: 14px;
    background-color: #0071e3;
    border: 1px solid #0071e3;
    border-radius: 50px;
    padding: 10px 15px;
    color: white;
}

.macBook_card>.small_logos_cta,
.watch_card>.small_logos_cta {
    color: white;
}


#carousels-section {
    width: 100%;
    display: flex;
    height: 620px;
    flex-direction: column;
    background-color: #f5f5f7;
    margin-top: 10px;
}

#carousels-section>h2 {
    text-align: center;
    font-size: 56px;
    padding: 20px;
}

.big_carousel{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    height: auto;
}

.big_carousel_card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 930px;
    height: 523px;
    position: relative;
    cursor: pointer;
    flex: 0 0 930px;
}

.tehran_card{
    background-image: url("Media/tehran_card.png");
}

.theMovie_card{
    background-image: url("Media/theMovie_card.png");
}

.dropsOfGods_card{
    background-image: url("Media/dropsOfGods_card.png");
}

.downCemeteryRoad_card{
    background-image: url("Media/downCemeteryRoad_card.jpg");
}

.theMorningShow_card{
    background-image: url("Media/theMorningShow_card.png");
}

.tedLasso_card{
    background-image: url("Media/tedLasso_card.png");
}

.pluriBus_card{
    background-image: url("Media/pluribus_card.jpg");
}

.shrinking_card{
    background-image: url("Media/shrinking_card.jpg");
}

.big_carousel_card_content{
    position: absolute;
    bottom: 50px;
    left: 60px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.big_carousel_card_content > button{
    font-size: 17px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 11px 21px;
    color: black;
    cursor: pointer;
}

.big_carousel_card_content > li,strong{
    color: white;
}

